MONGO_URI=mongodb+srv://youruser:yourpassword@cluster0.xxxxx.mongodb.net/student_dev_app?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_long_random_string
PORT=5000
CLIENT_URL=http://localhost:3000
