MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/student_dev_app?retryWrites=true&w=majority
JWT_SECRET=your_long_random_secret_key_here
PORT=5000
CLIENT_URL=https://your-frontend-url.onrender.com
NODE_ENV=production
